
body {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #222299;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #424547;
   /* text-align: center; */
}

a{
    color:white;
}

a:hover{
    color:silver;
}

input {
    font-size: 24px;
    text-align: right;
}

input[type=text] {
    color: #424547;
    border: 1px solid #c2c2c2;
    background-color: white;
}

span.labelText{
    width:200px;
}

#outputDiv {
    background-color: white;
    overflow: auto;
    height: 230px;
    width: 100%;
    padding: 10px;
    border: 8px solid #424547;
    margin-bottom: 5px;
    text-align: left;
}

