<!doctype html>
<html data-ng-app="myapp">
  <head>
      <title>ShowMe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
      <script src="https://cdn.firebase.com/v0/firebase.js"></script>
      <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
      
    <link rel="stylesheet" type="text/css" href="https://www.firebase.com/css/example.css">
  </head>
    <body data-ng-controller="MyController">
        <h1>ShowMe</h1>
        
        <span data-ng-show="user">
            {{user.name}} | <a data-ng-click="logout()">Logout</a>
</span>
            <div data-ng-show="user" id="messagesDiv">
                <div data-ng-repeat="msg in messages"><em>{{msg.name}}</em>: {{msg.desc}}</div>
            </div>

            <input type="text" data-ng-model="desc" data-ng-keydown="addMessage($event)" placeholder="Message...">


        <span data-ng-hide="user">
                <a data-ng-click="login()">Login</a>
        </span>



        <script>
          
            var app = angular.module("myapp", ["firebase"]);

            function MyController($scope, angularFire, angularFireAuth) {

                var ref = new Firebase("https://eysteinbye.firebaseio.com/showme");
                angularFireAuth.initialize(ref, { scope: $scope, name: "user" });

                angularFire(ref, $scope, "messages");

                $scope.messages = [];

                $scope.addMessage = function(e) {
                    if (e.keyCode != 13) return;

                    $scope.messages.push({
                        name: $scope.user.name,  // Want this to come from {{user.name}} (the login) and push it to the messages array
                        desc: $scope.desc
                    });

                    $scope.desc = "";
                };
                
                $scope.login = function () {
                    angularFireAuth.login("facebook");
                };
                $scope.logout = function () {
                    angularFireAuth.logout();
                };
                
            }

        </script>
    </body>
</html>
