<!doctype html>
<html ng-app="showMe">
  <head>
      <title>ShowMe!</title>
      <script src="lib/angular/angular.min.js"></script>
      <script src="lib/angular/angular-mocks.js"></script>
      <script src="https://cdn.firebase.com/v0/firebase.js"></script>
      <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
      <script src="js/controller.js"></script>
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
    <body ng-controller="SaveController">
        <h1>ShowMe!</h1>

        <span ng-hide="user">
            Login with
            <a ng-click="loginFacebook()">Facebook</a>
            or
            <a ng-click="loginTwitter()">Twitter</a>
        </span>

        <div ng-show="user">
            <header>
                Welcome {{user.name}} | <a ng-click="logout()">Logout</a>
            </header>

            Products:
            <select ng-model="item" ng-options="p.product for p in products"></select><br>

            <label>
                <span class="labelText">Product name</span>
                <input type="text" ng-model="item.product" placeholder="Product name.....">

            </label><br />
            <label>
                <span class="labelText">Description</span>
                <input type="text" ng-model="item.desc" placeholder="Description...">
            </label><br />

            <label>
                <span class="labelText">Time</span>
                <input type="text" ng-model="item.startTime" placeholder="Time...">
            </label><br />
            <label>
                <span class="labelText">ShowID</span>
                <input type="text" ng-model="item.showId" placeholder="ShowID...">
            </label><br />
            <label>
                <span class="labelText">Code</span>
                <input type="text" ng-model="item.code" placeholder="Code...">
            </label><br />
            <label>
                <span class="labelText">CodeType</span>
                <input type="text" ng-model="item.codeType" placeholder="CodeType...">
            </label><br />
            <label>
                <span class="labelText">Image</span>
                <input type="text" ng-model="item.imageUrl" placeholder="Image...">
            </label>
            <br />
            <button ng-click="addProduct()">Save</button>
        </div>

    </body>
</html>
